services:
  - type: web
    name: weather-app
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: NODE_ENV
        value: production
      - key: API_KEY
        sync: false
    healthCheckPath: /
    autoDeploy: true
